@import './node_modules/normalize.css/normalize';
@import '../fonts/material-icons/material-icons';
@import './node_modules/react-md/src/scss/react-md';
@import './node_modules/react-md/src/scss/typography';
@import './node_modules/react-md/src/scss/bundles/indigo-pink';


// =============================
// vars
// =============================
@import 'variables';


// =============================
// components
// =============================
@import 'components/grid';
@import 'components/typography';
@import 'components/button';


// =============================
// pages
// =============================
@import 'layout';
@import 'pages/loginPage';

.override-action-text-td {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
}

.override-action-button-td {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.override-dialog-form-margin {
  margin: 6em 1em 1em 1em;
}
